body {
	padding: 2px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C1AACC;
}

h1{
	text-align: center;
	margin: 10; 
	color: black;
}

a {
  color: black;
  border-top: 5px;
  margin: 5px;
  padding: 2px;
}

a:hover{
	background-color: #dddddd;
}
a:visited{
	color:#000000;
}
.const{
	background-color: silver;
}


.list{
	width: 145;
}