h1 Order Management
  table(width='800px')
    tr
      td(width='200px')
        a(href='/') Home
      td(width='200px')
        a(href='/customer') Add Customer
      td(width='200px')
        a(href='/order') Place Order 
      td(width='200px')
        a(href='/payment') Make Payment
      td(width='200px')
        a(href='/product') Add Product
      td(width='200px')
        a(href='/list') List All Order